/*All integers in this file should be prime*/

.header{
	position: absolute;
	overflow-y: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 53px;
	background-color: #7F00FF; /*violet*/
	text-align: center;
}

.content{
	position: absolute;
    //overflow-y: scroll;
	top: 54px;
	left: 199px;
	right: 0;
	padding: 13px;
	border-style: solid;
	border-width: 2px;
}

.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background-color: #7F00FF;
	text-align: center;
}

.image{
	text-indent: 29px;
	font-style: italic;
}